{% extends 'base.html' %}

{% block body %}

<div class="row">
<div class="large-12 columns">

<style>
/*h1 {font-family:'Shadows Into Light', cursive; font-size: 300%; text-align: center;}*/
/*h1 {font-family:'Permanent Marker', cursive; font-size: 300%; text-align: center;}*/
/*h1 {font-family:'Caveat Brush', cursive; font-size: 300%; text-align: center;}*/
/*h1 {font-family:'Rock Salt', cursive; font-size: 300%; text-align: center;}*/
h1 {font-family:'Frijole', cursive; font-size: 300%; text-align: center;}
.gig {font-family:'Frijole'; font-size: 150%; float: right;}
</style>

<h1>Justin Zakrajsek Music</h1>
<hr/>
</div>
</div>

<div class="row">
<div class="large-12 large-centered columns">


<div class="row">
<div class="large-6 columns">
<img src="static/pit-photo.jpg" width="100%" height="100%">
</div>

<div class="large-6 columns">
<h4>Welcome</h4>
<p>My name is Justin Zakrajsek. I am primarily a woodwind player.  I play several instruments routinely, including: Alto, Soprano, Tenor, and Melody Saxophones, Clarinet, Flute, and Piccolo. I am very comfortable playing Bari Saxophone, and am learning to play Oboe.  I also dabble with Piano, Drums, Guitar and Electric Bass to relax.</p>
</div>
</div>

<div class="row">
<hr>
<div class="large-12 columns">
<a name="news"><h4>News</h4></a>

    <div class="row">
    <div class="large-11 columns right"><hr>
        <!-- <div class="large-2 columns small-3"> <span style="font-family:'Roboto Slab', cursive; text-align: right; font-size: 200%;">GIG</span></div> -->
        <div class="large-2 columns small-3"> <span class="gig">GIG</span></div>
        <div class="large-7 columns">
        <p>The Railyard Horns opened for the Marshall Tucker Band at the Cone Denim Center in North Carolina.</p>
        </div>
        <div class="large-3 columns"> </div>
    </div>
    </div>

    <div class="row">
    <div class="large-11 columns right"><hr>
        <div class="large-2 columns small-3"> <img src="static/auditions.jpg"> </div>
        <div class="large-7 columns">
        <p>I auditioned for the Disneyland All-American College Band.  This is the third year that I've auditioned for this
        prestigious band.  This would be an awesome opportunity for this summer if it works out.</p>
        </div>
        <div class="large-3 columns">
        <!-- <img src="pictures/college_band.gif">  -->
        </div>
    </div>
    </div>

    <div class="row">
    <div class="large-11 columns right"> <hr>
        <div class="large-2 columns small-3"> <img src="static/auditions.jpg"> </div>
        <div class="large-7 columns">
        <p>I auditioned for something else.</p>
        </div>
        <div class="large-3 columns"> </div>
    </div>
    </div>

</div>
</div>


<div class="row">
<hr>
<div class="large-12 columns">

<a name="photos"><h4>Photos</h4></a>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
    <a href="static/Justin-292-FMR.jpg">
    <img data-caption="Photo Credit: Frances Marie Photography" src="static/Justin-292-FMR.jpg"></a>
</li>
<li>
    <a href="static/pit-photo.jpg">
    <img data-caption="In the pit for 'Guys and Dolls'" src="static/pit-photo.jpg"></a>
</li>
<li>
    <a href="static/studio.jpg">
    <img data-caption="Studio Time" src="static/studio.jpg"></a>
</li>
<li>
    <a href="static/back-to-school.jpg">
    <img data-caption="Chillin' at Berklee" src="static/back-to-school.jpg"></a>
</li>

</ul>
</div>
</div>


<div class="row">
<hr>
<div class="large-12 columns">

<a name="videos"><h4>Videos</h4></a>
<div class="large-4 columns">
    <div class="flex-video">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/0Pl_qGxKCC0" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<div class="large-4 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/PKL1XSDuHAo" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="large-4 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UWM-jM7eV6c" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="large-4 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2c3aWuipHsg" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="large-4 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8AuSrwWgsjo" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

</div>
</div>


<div class="row">
<div class="large-12 columns">
<hr>
<h4>Contact Me</h4>
<div class="large-4 columns">
Email: <a href="mailto:justin.zakrajsek@gmail.com">justin.zakrajsek@gmail.com</a>
</div>
<div class="large-4 columns">
Twitter: <a href="https://twitter.com/JustinZakrajsek" target="_blank">@JustinZakrajsek</a>
</div>
<div class="large-4 columns">
Instagram: <a href="https://www.instagram.com/epicjazsax/" target="_blank">epicjazsax</a>
</div>
</div>
</div>

{% endblock %}
