<div class="fixed"><nav class="top-bar" data-topbar>
<ul class="title-area">

<style>
h1 {font-family:'Frijole', cursive; font-size: 300%; text-align: center;}
</style>

<section class="top-bar-section">
<ul class="left">
<li><a href="#"> Justin Z. - Woodwind Instrumentalist</a>
</li></ul>
</section>
<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

<section class="top-bar-section">

<ul class="right">
<li class="divider"></li>

<li><a href="https://www.youtube.com/epicjazsax" target="_blank">
<img width=16 height=16  src="static/webicons-master/webicons/webicon-youtube.svg" alt="YouTube"></a></li>
<li><a href="https://www.facebook.com/justinzofficial" target="_blank">
<img width=16 height=16  src="static/webicons-master/webicons/webicon-facebook.svg" alt="Facebook"></a></li>
<li><a href="https://twitter.com/JustinZakrajsek" target="_blank">
<img width=16 height=16 src="static/webicons-master/webicons/webicon-twitter.svg" alt="Twitter"></a></li>
<li><a href="https://www.instagram.com/epicjazsax/" target="_blank">
<img width=16 height=16 src="static/webicons-master/webicons/webicon-instagram.svg" alt="Instagram"></a></li>
<li><a href="mailto:justin.zakrajsek@gmail.com">
<img width=16 height=8 src="static/webicons-master/webicons/webicon-mail.svg" alt="Email"></a></li>

<li class="divider"></li> <li><a href="/#">Home</a></li>
<li class="divider"></li> <li><a href="/#news">News</a></li>
<li class="divider"></li> <li><a href="/#photos">Photos</a></li>
<li class="divider"></li> <li><a href="/#videos">Videos</a></li>

<li class="divider"></li>
<li class="has-dropdown">
<a href="#">About Me</a>
<ul class="dropdown">
<li><a href="static/resume.pdf" target="_blank">Resume</a></li>
<li><a href="biography.html">Biography</a></li>
<li><a href="contact.html">Contact Info</a></li>
<li><a href="equipment.html">My Equipment</a></li>
</ul>
</li>
</ul>
</section>
</nav></div>
